

.SideDrawer {
    /* position: fixed; */
    left: auto;
    transition: transform 3s ease-out;
}

/* @media (min-width: 500px) {
    .SideDrawer {
        display: none;
    }
} */

/* .Open {
    transform: translateY(0);
}

.Close {
    transform: translateY(-100%);
} */
