.Star {
	width: 1rem;
	height: 1rem;
	border: none;
	border: none;
	background-color: transparent;
	outline: none;
	float: right;
}
.Star.Add svg path {
	fill: transparent;
}
.Star svg path:hover {
	cursor: pointer;

}
.Star.Add svg path:active {
	fill: transparent;
}

.Star.Added svg path {
	fill: var(--brightPink);
	stroke: var(--mainPurple);
}

.Star:disabled {
	color: var(--lightPink);
	cursor: not-allowed;
}
