.Button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border: 0.2rem;
	font: inherit;
	color: var(--brightPink);
	padding: 0.3rem 10%;
	margin: 0.2rem;
	border-radius: 0.5rem;
}



.Button:disabled {
	color: var(--lightPink);
	cursor: not-allowed;
}

