.Button {
	background-color: transparent;
	outline: none;
	cursor: pointer;
	font-weight: bold;
	border: 2px;
	font: inherit;
	padding: 0.3em 10%;
	margin: 0.2em;
	border-radius: 0.5em;
}

.Success {
	color: var(--brightPink);
}
.Danger {
	color: var(--mainPurple);
}

.Button:disabled {
	color: var(--greyColor);
	cursor: not-allowed;
}

