
.NominatedMoviesContainer {
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 2em auto;
  align-items: center;
  border: 2px solid var(--lightPink);
  box-shadow: 5px 5px 5px 0px rgba(206,182,183,1);
  padding: 0.5em;
}

.NominatedMovies{
width: 60%;
}
.DeletionWarning{
  font-size: small;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 40%;
}

ol{
  margin: 1em;
  padding: 0;
}

h5{
  color: var(--mainPurple)
}
