.LayoutContainer {
	width: 100vw;
	display: flex;
	flex-direction: column;
	margin: auto;
	justify-content: center;
	align-items: center;
}

.FindContainer {
	width: 100%;
	margin: .3rem;
}

.MoviesContainer {
	display: flex;
	flex-direction: column;
	margin: .5rem;
}


@media (min-width: 769px) {
	.MoviesContainer {
		flex-direction: row;
		margin: 2rem;
	}

	.NominatedMovies {
		flex: 1;
		/* max-width: 50%; */
	}

	.DisplayMovies {
		flex: 1;
	}
}
