

.InputElement {
  border: 1px solid #ccc;
  width: 100%;
	padding: 15px 14px 9px;
  transition: 0.4s;
  box-sizing: border-box;
  outline: none;
}

.InputElement ~ .focusBorder:before,
.InputElement ~ .focusBorder:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 2px;
	background-color: purple;
	transition: 0.3s;
}
.InputElement ~ .focusBorder:after {
	top: auto;
	bottom: 0;
	left: auto;
	right: 0;
}
.InputElement ~ .focusBorder i:before,
.InputElement ~ .focusBorder i:after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 2px;
	height: 0;
	background-color: purple;
	transition: 0.4s;
}
.InputElement ~ .focusBorder i:after {
	left: auto;
	right: 0;
	top: auto;
	bottom: 0;
}
.InputElement:focus ~ .focusBorder:before,
.InputElement:focus ~ .focusBorder:after {
	width: 100%;
	transition: 0.3s;
}
.InputElement:focus ~ .focusBorder i:before,
.InputElement:focus ~ .focusBorder i:after {
	height: 100%;
	transition: 0.4s;
}
