.Sign {
	width: 1,5rem;
	height: 1,5rem;
	border: none;
	background-color: transparent;
	outline: none;
	float: right;
}

.Plus:hover, .Minus:hover{
	cursor: pointer;
}

.Plus {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	-webkit-clip-path: polygon(
		0 40%,
		40% 40%,
		40% 0,
		60% 0,
		60% 40%,
		100% 40%,
		100% 60%,
		60% 60%,
		60% 100%,
		40% 100%,
		40% 60%,
		0 60%
	);
	clip-path: polygon(
		0 40%,
		40% 40%,
		40% 0,
		60% 0,
		60% 40%,
		100% 40%,
		100% 60%,
		60% 60%,
		60% 100%,
		40% 100%,
		40% 60%,
		0 60%
	);
	background-color: var(--mainPurple);
	float: right;
}
.Minus {
	width: 1.5rem;
	height: 1.5rem;
	display: flex;
	-webkit-clip-path: polygon(
		0 40%,
		40% 40%,
		61% 40%,
		100% 40%,
		100% 60%,
		60% 60%,
		40% 60%,
		0 60%
	);
	clip-path: polygon(
		0 40%,
		40% 40%,
		61% 40%,
		100% 40%,
		100% 60%,
		60% 60%,
		40% 60%,
		0 60%
	);
	background-color: var(--mainPurple);
	float: right;
}
