@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
	--darkBlue: #03045e;
	--brightYellow: #ffda3d;
	--lightBlue: #62b6cb;
	--lightYellow: #ffef9f;
	--blackColor: #000;
	background-color: var(--lightYellow);
	font-family: 'Open Sans', sans-serif;
}
