@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
	--mainPurple: #792359;
	--brightPink: #d72483;
	--lightPink: #efa0ca;
	--greyColor: #ccc;
	--lightGrey: #d3d3d3;
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
}

* {
	box-sizing: border-box;
	font-size: medium;
}

h5 {
	color: var(--mainPurple);
}
