@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap');

:root {
	--mainPurple: #792359;
	--brightPink: #d72483;
	--fontDark: #2f2d2e;
	--lightPink: #efa0ca;
	--blackColor: #000;
	--greyColor: #ccc;
	--lightGrey: #d3d3d3;
	background-color: white;
	font-family: 'Open Sans', sans-serif;
}

*{
	box-sizing: border-box;
}
